{
  "presets": ["next/babel"],
  "plugins": [
    ["babel-plugin-styled-components", { "minify": false }]
  ],
  "env": {
    "test": {
      "presets": ["next/babel"],
      "plugins": [
        "babel-plugin-rewire",
        ["babel-plugin-styled-components", { "minify": false }]
      ]
    }
  }
}
